<p id="notice"><%= notice %></p>

<h1>Shops</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Shop name</th>
      <th>Zipcode</th>
      <th>Prefecture</th>
      <th>Municipality</th>
      <th>Address</th>
      <th>Apartments</th>
      <th>Tel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.name %></td>
        <td><%= shop.email %></td>
        <td><%= shop.shop_name %></td>
        <td><%= shop.zipcode %></td>
        <td><%= shop.prefecture %></td>
        <td><%= shop.municipality %></td>
        <td><%= shop.address %></td>
        <td><%= shop.apartments %></td>
        <td><%= shop.tel %></td>
        <td><%= link_to 'Show', shop %></td>
        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shop', new_shop_path %>
<br>
<%= link_to 'Back', root_path %>
